:root{
    --title-font: "Ubuntu-Bold";
    --title-color: #022959;
    --title-size: 32px;

    --desc-font: "Ubuntu-Regular";
    --desc-color: #9699AA;
    --desc-size: 16px;

    --options-border-color: #D6D9E6;

    --options-title-font: "Ubuntu-Bold";
    --options-title-size: 16px;
    --options-title-color: #022959;

    --options-price-font: "Ubuntu-Regular";
    --options-price-size: 14px;
    --options-price-color: #9699AA;

    --monthly-font: "Ubuntu-Bold";
    --yearly-font: "Ubuntu-Bold";

    --free-months-font: "Ubuntu-Regular";
    --free-months-color: #022959;
    --free-months-font-size: 12px;
}

.yourInfo{
    display: grid;
    grid-template-columns: repeat(3, 138px);
    column-gap: 18px;
    row-gap: 32px;
    width: 450px;
    height: 348px;
}

.title, .desc{
    grid-column: 1/4;
}

.title{
    font-weight: 700;
    font-size: var(--title-size);
    color: var(--title-color);
    font-family: var(--title-font);
}

.desc{
    font-weight: 400;
    font-size: var(--desc-size);
    color: var(--desc-color);
    font-family: var(--desc-font);

}

.options{
    border: 1px solid var(--options-border-color);
    width: 138px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 19px;
    box-sizing: border-box;
    gap: 39px;
}

.options:hover{
    border-color: #483EFF;
    cursor: pointer;
}

.options div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    pointer-events: none;
}

.optionsImage{
    width: 40px;
    height: 40px;
    justify-content: flex-start;
    pointer-events: none;
}

.optionsTitle{
    font-weight: 500;
    font-size: var(--options-title-size);
    font-family: var(--options-title-font);
    color: var(--options-title-color);
    justify-content: flex-end;
    pointer-events: none;
}

.optionsPrice{
    font-size: var(--options-price-font);    
    font-family: var(--options-price-font);
    color: var(--options-price-color);
    justify-content: flex-end;
    pointer-events: none;
}

.switchContainer{
    grid-column: 1/4;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: #F8F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.switch{
    width: 38px;
    height: 20px;
    background-color: #022959;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.head{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.2s linear;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: white;
}

.monthly, .yearly{
    font-family: var(--monthly-font);
    color: #9699AA;
    font-size: 16px;
}

.freeMonths{
    font-family: var(--free-months-font);
    font-size: var(--free-months-font-size);
    color: var(--free-months-color);
    font-weight: 400;
    pointer-events: none;
}

#currentPlan{
    color: #022959;
}
