.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;    
    height: 512px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;    
    height: auto;
    position: relative;
    top: 0px;
    transition: height 0.2s linear, top 0.2s linear;
    gap: 40px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 25px;
}

.title{
    color: #022959;
    font-family: var(--bold-font);
    font-size: 32px;
}

.desc{
    color: #9699AA;
    font-family: var(--regular-font);
}

.allOptionsChoosen{
    width: 100%;
    padding: 24px 16px 0px 16px;
    box-sizing: border-box;
    background-color: #F8F9FF;
    border-radius: 8px;
    position: relative;
}

.currentPlan{
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
}

.planTitle{
    font-family: var(--regular-font);
    color: #022959;
    font-size: 16px;
}

.change{
    width: 60px;
    color: #9699AA;
    font-family: var(--regular-font);
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.change:hover{
    color: #483EFF;
}

.price{
    font-family: var(--bold-font);
    color: #022959;
    font-size: 16px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.divisor{
    width: 100%;
    height: 1px;
    background-color: #9699AA;
    opacity: 0.2;
    margin-bottom: 16px;
}


.addOns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.addOnTitle{
    font-family: var(--regular-font);
    color: #9699AA;
    font-size: 14px;
}

.addOnPrice{
    font-family: var(--regular-font);
    color: #022959;
    font-size: 14px;
}


.total{
    position: absolute;
    bottom: -44px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 24px;
}

.totalTitle{
    font-family: var(--regular-font);
    color: #9699AA;
    font-size: 14px;
}

.totalPrice{
    font-family: var(--bold-font);
    color: #483EFF;
    font-size: 20px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
}

.goBackButton{
    background-color: transparent;
    border: none;
    color: #9699AA;
    font-family: var(--regular-font);
    font-size: 16px;
    cursor: pointer;
}

.goBackButton:hover{
    color: #022959;
}

.confirmButton{
    width: 123px;
    height: 48px;
    border: none;
    color: white;
    background-color: #483EFF;
    font-family: var(--regular-font);
    border-radius: 8px;
    cursor: pointer;
}


.confirmButton:hover{
    background-color: #928CFF;
}

@media(max-width: 970px){
    .container, .content{
        width: 343px;
    }

    .header{
        height: 87px;
    }   
}

@media(max-width: 720px){
    .content{
        background-color: white;
        padding: 32px 24px 76px 24px;
        border-radius: 10px;
        top: -120px;
    }

    .buttons{
        background-color: white;
        padding: 16px;
        height: 72px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

}